<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrappin</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic'%>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet' %>
  </head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<%= yield %>
</body>
</html>